*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#container{
    width: 1120px;
    height: 3054px;
    margin: 88px 80px;
    font-family: "Open Sans", serif;
}

.headline p{
    height: 22px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #E1624F;
    font-weight: bold;
}

h1{
    color: #1B1B1B;
    margin-bottom: 40px;
    height: 49px;
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

.descrition img{
    margin-bottom: 24px;
}

.descrition p{
    font-size: 16px;
    text-align: center;
    height: 37px;
    font-style: italic;
    color: #333333;
}

.divider{
    width: 100%;
    height: 1px;
    margin: 40px 0 64px;
    background-color: #d9d9d9;
}

#title{
    height: 22px;
    font-size: 16px;
    color: #E1624F;
    font-weight: bold;
}

.title-list h2{
    width: 683px;
    height: 44px;
    font-weight: bold;
    margin: 2px 0 8px;
}

#description-main{
    color: #333333;
    margin-bottom: 64px;
}

.first-description h3{
    margin: 20px 0 4px;
    color: #1B1B1B;
    font-weight: bold;
}

.first-description p{
    color: #333333;
    
}

.custom-list-container p{
    font-weight: bold;
}

li{
    color: #0C51A7;
    font-weight: bold;
}

li::marker{
    color: #333333;
     
}

.first-image, .second-image, .third-image img{
    margin-top: 48px;
}

.second-image h3{
    margin-bottom: 4px;
    margin-top: 20px;
}

.third-image h3{
    margin-top: 20px;
    margin-bottom: 4px;
}

.casais{
    color: #591B98;
}

.familias{
    color: #E5245E;
}

.orcamento{
    color: #E95E10;
}

.divider1{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1px;
    background-color: #d9d9d9;
}

footer{
    color: #333333;
    text-align: center;
}

ul{
    padding-left: 25px;
}